html {
    background-color: #202124;
    color: white;
    height: 100%;
    font-family: Dosis;
}

body{
    height: inherit;
    margin: 0;
}

#topNav{
    background-color: #222ce4;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-radius: inherit;
}

li {
    float: left;
    
}

li a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

a:active {
    background-color: rgba(0, 0, 0, 0.4);
}
